body {
	font-family: 'Gloria Hallelujah', cursive;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	background: #00b5ff;
}
* {
	box-sizing: inherit;
}
header {
	color: #FFF;
	width: 100%;
	background: #1ea753;
	padding: 8px 15px;
	margin: 0;
	line-height: 60px;
}
header h1 {
	display: inline-block;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
header img {
	margin: 0;
	height: 60px;
	vertical-align: middle;
}
#meat-stack {
	float: right;
	height: 40px;
	margin: 10px 0;
}
ol {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style: none;
	padding: 10px 40px;
}
.my-list-item {
	font-size: 22px;
	width: 30%;
	border: 3px solid #CCC;
	border-color: #CCC;
	padding: 10px;
	background: #235a71;
	color: #FFF;
	transition: background 0.2s, border-color 0.2s;
}
.my-list-item:hover {
	background: #427d96;
	border-color: #235a71;
}
.my-list-item a {
	color: #FFF;
	display: block;
	padding-left: 25px;
}
.my-list-item a:first-child {
	color: #FFF;
	display: block;
	padding-left: 0;
}
.my-list-item a:hover {
	color: #FFF;
}